---
import Layout from "../../layouts/Layout.astro";
import ProductDesc from "../../components/ProductDesc";

const { id } = Astro.params;
---

<Layout title={id} transition:animate="slide">
    <div transition:name={id}>
        <ProductDesc idName={id} client:only />
    </div>
</Layout>
