---
import Layout from "../layouts/Layout.astro"
---

<Layout title="success">
    <h1 class="payment">payment successful</h1>
    <a href="/shop" class="btn btn-primary buttonnav w-80 h-auto p-10">Back to shop</a>
</Layout>

<style>
    .payment {
        text-align: center;
        font-size: 100px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .buttonnav {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;}
</style>