<div id="about" class="w-full h-screen mt-10 flex flex-col items-center">
  <div class="w-full flex justify-center items-center h-[50%] mt-52"><p class="text-4xl text-justify w-[70%] font-semibold leading-loose">Our enduring love of the game motivated us to realize our ultimate aspirations when we founded the company in 2020. This is where we find refuge. For individuals who are passionate about fashion, it is a safe sanctuary.
  This is home court for those who share our intense passion for the game. We pledge to provide the world's highest caliber shoe items along with the most motivational tales we can convey. to grant the freedom of choice to everybody.
  The spirit of the game remains the same whether it is played in sold-out arenas, high school tournaments, dilapidated gyms, or unnoticed street courts. It's love that drives us all.</p>
  </div>
  <a href="https://facebook.com/kicks.venture2020" target="_blank" class="btn btn-info w-[50%] h-[40px] text-white text-2xl text-center mt-28 rounded-full">Visit our facebook page for more info</a>
</div>

<script>
  
</script>


