
<div class="w-[30vw] z-20 flex justify-center items-center gap-12 text-3xl font-bold rounded-b-2xl bg-slate-100 h-24 fixed top-0 left-[35vw]">
  <a href="#about">About</a>
  <a href="/shop">Shop</a>
  <a href="#faq">FAQ</a>
  
</div>

